<nav class="navbar navbar-inverse">
  <div class="container">
    <h1>
      {{titleFirebase}}
    </h1>
  </div>
</nav>

<div class="container">
  <div class="well well-lg">
    <form #mqForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input required type="text" class="form-control" name="imageURL" placeholder="Image URL" [(ngModel)]="formPhotoBucketNoAuth.imageURL"><br>
      </div>
      <div class="form-group">
        <input required type="text" class="form-control" name="caption" placeholder="Caption" [(ngModel)]="formPhotoBucketNoAuth.caption">
      </div>
      <button [disabled]="!mqForm.form.valid" type="submit" class="btn btn-default pull-right">
        {{this.formPhotoBucketNoAuth.$key ? 'Edit' : 'Submit'}}
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<hr>

<div id="wrapper">
  <div id="columns">
    <div class="pin" *ngFor="let photo of photoBucketNoAuthStream | async | reverse">
      <div class="pull-right edit-actions">
        <button type="button" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil" (click)="edit(photo)" ></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash" (click)="delete(photo.$key)"></span>
        </button>
      </div>
      <img [src]="photo.imageURL" alt="A photo">
      <p class="caption">{{ photo.caption }}</p>
    </div>
  </div>
</div>